@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/nunito');


body, html{
  min-height:100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
    
}

/* main-header start */
[data-target="#mainMenu"] {
  position: relative;
  z-index: 999;
}

.main-header {
  position: fixed;
  height: 23vh;
  top: -33px;
  left: 0;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.158);
}
.navbar{
  margin: 0 8%;
}

/* .main-header.sticky{
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  height: 20vh;
  z-index: 999;
}
.main-header.sticky #mainMenu li > a{
  color: #FF831F;
}
.main-header.sticky .navbar-brand img{
  width: 150px;
  height: 130px;
  left:80px;
  top: 10px;
} */

label{
  visibility: hidden;
}

#mainMenu li{
  margin-right: 50px;
}

#mainMenu li > a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  z-index: 1;
  color: #000000;
  padding-top: 1%;
  text-align: center;
}

#mainMenu li > a::before {
  position: absolute;
  content: "";
  background: #FF831F;
  bottom: -18px;
  transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: transform 0.8s ease-in-back;
  transition-duration:0.8s ease-in-back;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  left:calc(50% - 8px);
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
  content: "";
  position: absolute;
 
  width: 9px;
  height: 9px;
  border-radius: 100%;
  left:calc(50% - 8px);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

#mainMenu a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #ffffff;
  width: 125px;
  height: 48px;
  text-align: center;
  background-color: #FF831F;
  padding: 1%; 
  border-radius: 8px;
}
#mainMenu a.button:hover{
  background-color: #ffffff00;
  color: #FF831F;
  border: 2px solid #FF831F;
  /* font-size: 18px; */
  font-weight: 500;
  /* padding: 0; */
  
}



.main-section{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: Nunito;
}
.form-pretext{
    font-size: 48px;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    margin: 15% 5% 5% 5%;
    
}
.form-pretext strong{
    color: #FF831F;
    
}

.card{
    width: 50%;
    /* height: 987px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: #000;
    margin-bottom: 5%;
    margin-left: 25%;
    font-family: Nunito;   
}

.form-topmost{
    text-align: center;
    font-size: 2rem;
}
.form-top{
    text-align: center;
    font-size: 1rem;
}
.user-type{
    margin-left: 60%;
}
.btn-primary {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #ffffff;
    width: 125px;
    height: 48px;
    text-align: center;
    background-color: #FF831F;
    padding: 1%;
    border-color: #FF831F; 
    border-radius: 8px;
    margin: 5% 40%;
}

.btn-primary:hover{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #ffffff;
    color: #FF831F;
    border: 2px solid #FF831F;
    /* font-size: 18px; */
    font-weight: bold;
    /* padding: 0; */
}


/*-------------- Footer Section ----------*/
footer {
  color: #ffffff;
  background-color: #FF831F
}

.footer{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-social{
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83%;
}

.footer-social img{
  width: 208px;
  height: 208px;
}

footer ul>li {
  list-style: none;
}

footer hr {
  border-width: 3px
}

footer .social{
  margin: 10% auto;
  justify-content: center;
  margin-top: 10%;
}

.social_footer {
  display:flex;
  list-style-type:none;
  
}
.social_footer li {
  margin-top: 10%;
  margin-left: 30px;
}

.social_footer li a {
  color:#FF831F;
  padding:8px;
  border-radius:50%;
  background-color: #ffffff;
  font-size: 24px;
}

.social_footer li i {
  width:36px; 
  height:36px; 
  text-align:center;
}

.social_footer li a:hover {
  color:#ffffff;
  border:2px solid #ffffff; 
  background-color: #FF831F;
}

footer .contact{
  margin: 5% 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

footer .contact p{
  font-size: 48px;
  font-family: 'Nunito' sans-serif;
  font-style: normal;
  line-height: 65px
}

footer .contact .row{
  display: flex;
  justify-content: space-evenly;
  margin: 8% 0;
  margin-left: -6%;
  flex-wrap: nowrap  
}

.contact .row hr{
  visibility: hidden;
}

footer .contact .row .services li{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  line-height: 2.5rem;
  white-space: nowrap;
}

footer .heading ul {
  margin-top: 5%;
}

footer .heading {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.contact .row .addr .heading{
  margin-left: -80px;
}

footer .addr li {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}

footer .addr li .iconify{
  color: white;
  font-size: 30px;
  margin: 0 3% 0 0;
}

footer .addr li p{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5rem;  
}

footer hr {
  border: 1px solid rgba(255, 255, 255, .3);
  width: 100%;
}

footer .copyright{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  margin-left: 15%;
  white-space: nowrap;
}

footer .policy{
  font-size: 16px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  float: right;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  white-space: nowrap;
}

footer .policy .list{
  margin: 0 20%;
}











/* --------------------Media Queries------------- */
@media (max-width: 991px){
  .menuToggle{
    z-index: 999;
    position: relative;
    width: 72px;
    height: 40px;    
  }
  .navbar-brand {
    color: #fff;
    z-index: 999;
  }
  nav .navbar-collapse{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121116fa;
  }
  .main-header .navbar-brand img {
    max-width: 100px;
    max-height: 100px;
  }
  .main-header .navbar {
    margin: 2% 5% 0 5%;
  }
  .main-header.sticky {
    height: 23vh;
    padding: 0;
  }
  #mainMenu li{
    margin: 5% 0;
    margin-right: 0;
  }  
  label{
    visibility: visible;
    display:flex;
    flex-direction:column;
    width:50px;
    cursor:pointer;
  }
  label span{
    background: #FF831F;
    border-radius: 10px;
    height: 5px;
    margin: 4px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  span:nth-of-type(1){
    width:75%;
    margin-left: 20% 
  }
  span:nth-of-type(2){
    width:100%;
  }
  span:nth-of-type(3){
    width:75%;
  }
  input[type="checkbox"]{
    display:none;
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    width: 100%;
    transform-origin: bottom;
    transform: rotatez(45deg) translate(3px,15px);
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(3){
    visibility: hidden;
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
  }
 .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    height: 50%;
  }

  #mainMenu li > a {
    text-decoration: none;  
    font-size: 25px;
    color: #ffffff;
  }
  #mainMenu li > a.active{
    color: #FF831F;
  }
  #mainMenu li > a::before {
    visibility: hidden;
  }
  #mainMenu li > a:hover::before,
  #mainMenu li > a.active::before {
    visibility: hidden;
  } 
  
  #mainMenu a.button {    
    width: 166px;
    height: 59px;
    font-size: 25px;
  }

  /* footer */
  .footer-social {
    width: 75%;
  }
  footer .social {
    margin: 10% 0;
    justify-content: center;
    margin-top: 10%;
  } 
  footer .contact {
    margin: 5% 0 0 3%;
  }
  footer .addr{
    margin-left: -11px;
  }
  .footer .services{
    margin-left: -54px;
  }
  footer .addr li .iconify{
    font-size: 30px;  
  }
  footer .policy {
    margin-right: 0;
  }  
}


@media only screen and (max-width: 890px){
  .footer-social {
    margin: 10% 15% 0 0;
  }
  footer .contact {
    margin: 8% 0 0 5%;
  }
}


@media only screen and (max-width: 768px){ 
  .footer-social {
    margin: 0;
    width: 100%;
  }
  footer .social {
    margin: 0;
  }
  .social_footer {
    padding: 0;
  }
  footer .contact p {
    text-align: center;
  }
  footer .contact .row {
    display: flex;
    justify-content: space-around;
    margin: 8% 0;
  }
  footer .addr li p {
    font-size: 18px;
    text-align: left;
  }
  footer .addr {
    margin-left: -61px;
  }
  footer .copyright {
    font-size: 18px;
    margin-left: 0;
  }
  footer .policy{   
    margin-right: 15%;  
  }
  footer .policy .list {
    margin: 0 5%;
  } 
}


@media only screen and (max-width: 691px){
  
}


@media only screen and (max-width: 600px){
  
}


@media only screen and (max-width: 580px){
  label {
    width: 41px;
  }

  .navbar-brand img {
    width: 130px;
    height: 110px;
  }
  .main-header.sticky {
    height: 23vh;
    padding: 0;
  }
  .main-header .navbar {
    margin: 5% 5% 0 5%;
  }
  
  footer .contact .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 8% auto;
    align-items: center;    
  }
  footer .contact {
    margin: 8%;
  }
  .footer .services {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  footer .heading {
    font-size: 28px;
    font-weight: bold;
    /* margin: 0;   */
  }
  footer .contact .row .services li {
    font-size: 17px;
    line-height: 2.6em;
  }
  footer .addr {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  footer .addr li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .contact .row .addr .heading {
    margin-left: 0px;
  }

  footer .addr li .iconify {
    font-size: 35px;
    margin: 1% 0;
  }
  footer .addr li p {
    font-size: 17px;
    text-align: center;
  }
  footer .addr li .iconify:first-child {
    margin-top: 10%;
  }
  .contact .row hr{
    visibility: visible;
  }
  .footer .policy .list{
    margin: 0 5% 5% 5%;
  }
  
}